<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/tidy-css.css' />
  </head>
  <body>
    <nav class="menu">
      <ul>
        <li><a href="#">Menu item 1</a></li>
        <li><a href="#">Menu item 2</a></li>
        <li><a href="#">Item 3</a></li>
      </ul>
    </nav>
    <div class="header">
       <h1>Tidy CSS</h1>
       <h4>A stripped down css framework</h4>
    </div>  
    <main>
      <h3>Headings</h3>
      <h1>h1 heading</h1>
      <h2>h2 heading</h2>
      <h3>h3 heading</h3>
      <h4>h4 heading</h4>
      <p>Some made up para of text that goes on a bit but doesn't really say much at all except that I'd kill for a cheeseburger right now. It goes on a bit longer on to this second line - but that's about it, for now.</p>
      
      <hr>

      <h3>Buttons</h3>
      <button class="button">button</button>
      <button class="button alert ">alert button</button>

      <hr>

      <h3>Table</h3>
      <div class="table">
        <table>
          <thead>
            <th>Heading 1</th>
            <th>Heading 2</th>
            <th>Heading 3</th>
            <th>Heading 4</th>
          </thead>
          <tbody>
            <tr>
              <td>a</td>
              <td>b</td>
              <td>c</td>
              <td>d</td>
            </tr>
            <tr>
              <td>a</td>
              <td>b</td>
              <td>c</td>
              <td>d</td>
            </tr>
            <tr>
              <td>a</td>
              <td>b</td>
              <td>c</td>
              <td>d</td>
            </tr>
          </tbody>
        </table>
      </div>
      
      <hr>

      <h3>Form fields</h3>
      <div class="form-fields">
        <form>
          <label for="text-input"> Text input
            <input id="text-input" type="text">
          </label>

          <label for="select-input"> Select box
            <select id="select-input">
            <option value="option1">Option 1</option>
            <option value="option2">Option 2</option>
            <option value="option3">Option 3</option>
            </select>
          </label>

          Radio buttons
          <label>Radio 1
            <input type="radio" name="Radio" value="Radio 1">
          </label>
          <label>Radio 2
            <input type="radio" name="Radio" value="Radio 2">
          </label>

          Checkboxes
          <label>Checkbox 1
            <input type="checkbox" name="checkbox" value="checkbox 1">
          </label>
          <label>Checkbox 2
            <input type="checkbox" name="checkbox" value="checkbox 2">
          </label>
        </form>
      </div>

      <hr>
      
      <h3>Grid layout</h3>
      <div class="row">
        <div class="col col-6">
          col-6<br>
          <div class="col col-3">
            col-3
          </div>
          <div class="col col-3">
            col-3
          </div>
          <div class="col col-3">
            col-3
          </div>
          <div class="col col-3">
            col-3
          </div>
          <div class="col col-12">col-12</div>
        </div>
        <div class="col col-6">
          col-6
        </div>
      </div>
    </main>

    <div class="footer">
      <h1>And a footer</h1>
    </div>
  </body>

</html>